/* content on hover #F4F6F7 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.top-bar{
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0px;
  background-color: #0c1e3e;
  display: inline-block;
  text-align: center;

}
.profile-bar{
  width: 20%;
  height: 60px;
  position: relative;
  left: 0%;
  top: 40px;
  background-color: #153161;
  border-top: 0.1px groove #3498DB;
  border-bottom: 0.1px groove #3498DB ;
}
.profile-bar:hover{background-color: #0c1e3e;}
.top-msg{
  width: 80%;
  height: 60px;
  position: fixed;
  left: 20%;
  top: 40px;
  background-color: white;
  border-bottom: 1px solid #D5DBDB;
}
.side-bar{
  width: 20%;
  height: 100%;
  position: fixed;  
  left: 0px;
  top: 100px;
  background-color: #153161;
  padding: 10px;
  overflow-y: scroll;
  font-size: 14px;
  font-weight: 10;
}
.content{
  width: 80%;
  height: 100%;
  position: fixed;  
  left: 20%;
  top: 100px;
  bottom: 100px;
  background-color:white ;

  
}

.bottom-msg{
  width: 80%;
  position: fixed;  
  left: 20%;
  height: 100px;
  background-color: white;
  bottom: 0px;
}

.main-content{
  height: 70%;
  overflow-y: scroll;
  padding-top: 10px;
  margin: 25px;
  overflow:auto; display:flex;flex-direction:column-reverse;

}

.main-side{
  height: 100%;
  overflow-y: scroll;
  padding-top: 10px;
  color: white;
}
.main-side a:hover{background-color: #2970ff;}
.main-side a{color: white;}
.bottom-msg .form-box{
  border: 3px ridge #D5DBDB; 
  position: relative;
  width: 95%;
  height: 80%;
  margin: auto;
  border-radius: 5px;
}
.form-box input{
  position: relative;
  width: 100%;
  height: 70px;
  outline: none;
  border: none;
  padding-left: 20px;
}
#top-search{
  width: 33.3%;
  padding:1px ;
  border: 1px solid #2ed6a1;
  margin: 6px;
  color: #2ed6a1;
  background-color: transparent;
}
#top-help{float: right;}
#top-history{float: left;}
#top-help,#top-history{
  background-color: transparent;
  outline: none;
  border: none;
  color: #2ed6a1;

}
.top-bar button{outline-style: none;opacity: 65%;}
.top-bar button:hover{outline-style: none;opacity: 100%;}

.dropdown {
  position: relative;
  display: inline-block;
  color: white;
  padding: 25px;
  font-size: 16px;
}
.dropdown li,a{color: black;}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {display: block;}
ul ,li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.side-nav {color: white;border-bottom: 0.1px groove #3498DB ;}
.side-nav a{color: white;}
.side-nav a:hover{background-color: #2970ff;}
.messages{
  	width: 100%; 	
  	margin: 3px;

}
.messages:hover{
	background-color: #F4F6F7;
}

.messages img{
	height: 40px;
	width: 40px;
	float: left;
	border-radius: 5px;
	box-shadow:0.5px 1px 1px;;
}
.messages span{
	height: 40px;
	width: 40px;
	float: left;
	border-radius: 5px;

}
.username-date p{
	display: inline;
	padding-top: 0px;
	margin: 0px;
}
.block{
	display: block;
}
p.username{
	font-weight: bold;
    padding-left: 10px;

}
p.date{
	font-weight: normal;
	font-size: 8px;


	
}
p.text{
	padding-left: 53px;
	font-size: 13px;
	word-wrap: break-word;

}
.likes button{
	outline-style: none;
	background-color: transparent;
	border: none;
	padding-left: 53px;
	font-size: 14px;
}
#likes-0{
	color: #FFC300;
}
#likes:hover{
	color: blue;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;  
  text-align: center;
  opacity: 70%;
}
.sticky p{
  color:black;
  font-weight: normal;
  max-width: 100px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  background-color: #2ed6a1;
  
}

.container{
flex-direction:column-reverse;}


/*.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  

  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
*/

