{
	#333F4E,#47525F,#DA513D,#FFFFFF,#47525F,#F8F8F8,#DA513D,#DA513D
	#0c1e3e,#153161,#2970ff,#FFFFFF,#153161,#FFFFFF,#2ed6a1,#2ed6a1
}


body{
	background-color: #FFFFFF;
	color: #555555;
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.6em;
	margin: o;
}
a:hover{
	opacity:0.8;
	background-color: #2970ff;
	 text-decoration: none;
	 color: white;
}
li{
	list-style-type:none;
}
.topnav {
  overflow: hidden;
  background-color:#153161;
  height: 40px;
  display: flex;
  border-bottom: 1px solid black;
/*  position: fixed;*/
  top: 0;
  width: 100%;

}

.box-search{
  margin: auto;
  width: 40%;
  border: 2px solid #2ed6a1;
  border-radius: 15px;
  text-align: center;
  margin-top: 0px;
  height: 35px;
}

.topnav button{
  background-color: #2ed6a1;
  border: none;
  color: #FFFFFF;
}
#top-search{
	background-color: transparent;
}
.topnav button:hover{
  background-color: #2970ff;
  border: none;
  color: #FFFFFF;
  opacity: 0.5;
}



.side-navbar{
	background: #0c1e3e;
	position: fixed;
	height: 100%;
	width: 250px;
	z-index: 1;	
  overflow-y: scroll;
  top:40px;
  bottom: 0;

}

.profile{
	height: 60px;
	border-bottom: 3px solid #2ed6a1;

}

.profile li,a{
	color: white;
}
.profile a:hover{
	color: white;
	opacity: 0.6;
}

.direct-message{
	border-bottom: 0.5px  dotted #2ed6a1;
	border-top: 0.5px  dotted #2ed6a1;
  padding-bottom: 130px;

}
.direct-message p{
	margin-top: 10px;
	font-size: 20px;
	color: white;
	text-align: left;
	padding-left: 20px;
}
.top-msg-info{
  background-color:white;
  height: 60px;
  display: flex;
  border-bottom: 1px solid black;
  width: 82%;
  position: fixed;
  left: 250px;
  top: 40px;
  color: black;
  padding-top: 15px;
  padding-left: 20px;
}

.bottom-msg-info{
  background-color:white;
  height: 60px;
  display: flex;
  border: 1px solid black;
  width: 70%;
  position: fixed;
  left: 300px;
  bottom: 30px;
  color: black;
  padding-top: 15px;
  padding-left: 20px;
  border-radius: 15px;

}
.bottom-msg-info input{
  background-color:white;
  height: 60px;
  display: flex;
  border: 2px solid black;
  width: 70%;
  position: fixed;
  left: 300px;
  bottom: 30px;
  color: black;
  padding-top: 15px;
  padding-left: 20px;
  border-radius: 15px;


}


.msg-content{
  
  height: 70%;
  padding-top: 10px;
  padding-left: 10px;
  top:100px;
  width: 90%;
  position: fixed;
  left: 250px; 
  color: black;
  overflow-y: scroll;
  background-color: #FFFFFF;
  width: 80%;
  word-wrap: break-word;
/*  margin: 0;
*/ }


.messages{
	display: flex;
    flex-direction: row;
    background-color: #F2F3F4;
   scroll-behavior: smooth;
}
.messages:hover{
	background-color:#A9CCE3;

}


.messages img{
  border: 0.5px solid #ddd;
  border-radius: 6px;
  padding: 5px;
  width: 50px;
  display: flex;
} 

.messages .msg-user{
  	margin-top: 0px;
	padding-left: 5px;
	padding-top: 0px;
	font-weight: bold;
} 
.messages .msg-date{
  
	padding-left: 5px;
	font-weight: 100;
	padding-top: 1px;
	font-size: 12px;

} 

.msg-text{
  padding-left: 58px;
  font-weight: 400;
  padding-top: 0px;
  font-size: 15px;
  color: black;
  display: flex;
  flex-direction: column;
  margin-top: -20px;	

} 
.modal-dialog input {
	text-decoration: none;
	width: 455px;
}

.likes button{
	border: none ;
	text-decoration: none;
	border-radius: 50%;
	background:none;
	color: gray  ;
	padding-left: 30px;
	margin-top: -15px;

}
.likes button:hover{
	background-color: white;
	text-decoration: none;
	cursor: pointer;
	-webkit-text-fill-color: blue;
}
#likes-0{
	color: #FFC30F  ;
}

.users_list a{
	color: black;
}

@media (max-width: 600px) {
  div.side-navbar {order: 1;}
div.msg-content {order: 3;}
div.topnavV {order: 2;}

}