{% extends 'base.html'%}
{%block title%}Chat Room{%endblock%}
{%block content%}
{%load static%}


 {% for data in datas %}

      <div class="messages">
            <img src="{{ data.user.profile.image.url }}" alt="{{data.user.username}}">
         <div class='block'>
            <div class="username-date">
            <p class="username">{{data.user.first_name}}</p>
            <p class="date">{{data.date|date:"M d, Y"}}</p>
           </div>
            <p class="text">{{data.question|safe}}</p>
        </div>
      </div>
      {% for answer in data.answers.all %}
    <div class="messages">
            <span class="material-icons">support</span>
        <div class='block'>
            <div class="username-date">
            <p class="username">FaqBot</p>
            <p class="date" id='{{answer.id }}'>{{answer.date|date:"M d, Y"}}</p>
            </div>
            <p class="text">{{ answer.admin_answer|safe }}</p>
        </div>
   </div>
        <div class="likes">
              {%if not user in answer.likes.all%}
              <form action="{%url 'vote' answer.id %}" method="POST">
              {% csrf_token %}
              <button id='likes' type="submit" value="{{answer.id }}"><span class="material-icons">thumb_up</span>{{answer.total_likes}}
              </form>
              {%else%}
              <button  id='likes-0'type="submit" value="{{answer.id }}"><span class="material-icons">thumb_up</span>{{answer.total_likes}}
              </button>
              {%endif%}
        </div>
             


        
  
  {%endfor%}
  {%endfor%}
     



{%endblock%}

    {%block input%}
    <div class="input">
    {%if request.user.is_authenticated%}
    <form method='POST'>
    {%csrf_token%}
    <input type="text" name="question" placeholder="question">
    </form> 
    {%endif%}
    </div>
    {%endblock%}

{%endblock%}


{%block users%}
{%include 'qna/create_chat_room.html'%}
{%endblock%}

