 
  <div>
         <li class="nav-item">
           <a class="nav-item nav-link" href="{% url 'user_history' %}"><span class="material-icons">
history</span>History</a>
        </li>
        <li class="nav-item">
           <a class="nav-item nav-link" href="{% url 'chat' %}"><span class="material-icons">
question_answer</span>Chat Room</a>
        </li>
        <li class="nav-item">
           <a class="nav-item nav-link" href="{% url 'qna_history' %}"><span class="material-icons">
support</span>Ask Bot Room</a>
        </li>
</div>